tempCodeRunnerFile.py
.vscode/settings.json
uebungen/scala/build.sbt
uebungen/scala/.bloop/scala-test.json
uebungen/scala/.bloop/scala.json
uebungen/scala/.metals/metals.log
uebungen/scala/.metals/metals.mv.db
uebungen/scala/.metals/metals.trace.db
uebungen/scala/.metals/.reports/metals-full/2024-09-11/r_compiler-error_17-42-14-752.md
uebungen/scala/.vscode/settings.json
uebungen/scala/project/build.properties
uebungen/scala/project/metals.sbt
uebungen/scala/project/.bloop/scala-build.json
uebungen/scala/project/project/metals.sbt
uebungen/scala/project/project/project/target/config-classes/$ee6c504c0a534c5844ec.cache
uebungen/scala/project/project/project/target/config-classes/$ee6c504c0a534c5844ec.class
uebungen/scala/project/project/project/target/config-classes/$ee6c504c0a534c5844ec$.class
uebungen/scala/project/project/target/config-classes/$ab92faa2101416226fe1.cache
uebungen/scala/project/project/target/config-classes/$ab92faa2101416226fe1.class
uebungen/scala/project/project/target/config-classes/$ab92faa2101416226fe1$.class
uebungen/scala/project/project/target/scala-2.12/sbt-1.0/sync/copy-resource
uebungen/scala/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
uebungen/scala/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
uebungen/scala/project/project/target/streams/_global/_global/_global/streams/out
uebungen/scala/project/project/target/streams/_global/_global/csrLogger/_global/streams/out
uebungen/scala/project/project/target/streams/_global/csrConfiguration/_global/streams/out
uebungen/scala/project/project/target/streams/_global/csrProject/_global/streams/out
uebungen/scala/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
uebungen/scala/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
uebungen/scala/project/project/target/streams/_global/ivyConfiguration/_global/streams/out
uebungen/scala/project/project/target/streams/_global/ivySbt/_global/streams/out
uebungen/scala/project/project/target/streams/_global/projectDescriptors/_global/streams/out
uebungen/scala/project/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
uebungen/scala/project/project/target/streams/_global/moduleSettings/_global/streams/out
.bsp/scala-cli.json
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.scala-build/ide-envs.json
.scala-build/ide-inputs.json
.scala-build/ide-launcher-options.json
.scala-build/ide-options-v2.json
.scala-build/.bloop/KdP_f4dd477a3a-test.json
.scala-build/.bloop/KdP_f4dd477a3a.json
.gitignore
